@charset "UTF-8";
*, *::after, *::before {
  outline: none;
  box-sizing: border-box;
}

ul, li {
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #23283B;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #E6514A;
}

.page {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.suptitle {
  display: flex;
  font-size: 14px;
  line-height: 17px;
  color: #23283B;
}
.suptitle::before {
  content: "";
  display: inline-block;
  align-self: center;
  width: 40px;
  height: 1px;
  margin-right: 12px;
  background: #E6514A;
}

.red-btn {
  padding: 16px 58px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  border: none;
  background: #E6514A;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  background: #3035C3;
  box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.6s;
  padding: 26px 0;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.header-wrapper .phones {
  display: flex;
}
.header-wrapper .phones-number {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 50px;
  flex-wrap: wrap;
  max-width: 230px;
}
.header-wrapper .phones-number__link {
  margin-left: 10px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  transition: 0.6s;
}
.header-wrapper .phones-number:nth-child(2)::after {
  content: "(Только для сообщений)";
  position: absolute;
  max-width: 100px;
  font-size: 9px;
  line-height: 11px;
  color: #ffffff;
  transition: 0.6s;
  bottom: 0;
  right: 20%;
}

.sticky {
  padding: 15px 100px;
  background: #ffffff;
}
.sticky .phones-number__link {
  color: #23283B;
}
.sticky .phones-number:nth-child(2)::after {
  content: "(Только для сообщений)";
  position: absolute;
  max-width: 100px;
  font-size: 9px;
  line-height: 11px;
  color: #23283B;
  bottom: 0;
  right: 20%;
}

.main-screen {
  background: #3035C3;
  position: relative;
  padding: 200px 0 172px;
}
.main-screen .main {
  max-width: 570px;
}
.main-screen .main-suptitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #E6514A;
  line-height: 130%;
}
.main-screen .main-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin: 16px 0 32px;
  font-size: 48px;
  line-height: 130%;
  color: #ffffff;
}
.main-screen .main-desc {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 70px;
}
.main-screen .main-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 16px 63px;
  background: #E6514A;
  border-radius: 30px;
  border: none;
}
.main-screen .main-img {
  position: absolute;
  top: -20px;
  right: -30px;
  max-width: 700px;
  height: 900px;
}

.receive {
  padding: 80px 0;
  margin-top: 80px;
}
.receive .container {
  position: relative;
}
.receive-bg {
  position: absolute;
  max-width: 100%;
  top: 10%;
  left: 0;
  z-index: -10;
}
.receive-title {
  font-family: "Montserrat", sans-serif;
  padding: 20px 0 40px;
  font-weight: 800;
  font-size: 48px;
  line-height: 130%;
  color: #23283B;
}
.receive-map {
  display: flex;
  background-position: center;
  height: 400px;
}
.receive-map .card {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}
.receive-map .card:nth-child(1) {
  margin-top: 160px;
}
.receive-map .card:nth-child(2) {
  margin-top: 200px;
}
.receive-map .card:nth-child(3) {
  margin-top: 90px;
}
.receive-map .card:nth-child(4) {
  margin-top: 80px;
}
.receive-map .card:nth-child(5) {
  margin-top: 130px;
}
.receive-map .card:nth-child(6) {
  margin-top: 0;
}
.receive-map .card-img {
  max-width: 140px;
  height: auto;
  margin: 0 auto;
}
.receive-map .card-desc {
  max-width: 170px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #23283B;
}
.receive-map .card-desc__bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #23283B;
}

.benefit {
  padding: 40px 0 80px;
}
.benefit-suptitle {
  justify-content: center;
}
.benefit-title {
  margin: 20px 0 50px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 130%;
  color: #23283B;
}
.benefit .swiper-container {
  height: 470px;
  width: 1240px;
}
.benefit-card {
  position: relative;
  max-width: 370px;
  min-height: 430px;
  background: #FFFFFF;
  box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
  border-radius: 10px;
  margin: 0 15px;
  padding: 32px 32px 0 32px;
  z-index: 1;
}
.benefit-card__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 24px;
  color: #23283B;
  line-height: 130%;
}
.benefit-card__desc {
  font-size: 16px;
  line-height: 150%;
  color: #23283B;
}
.benefit-card__img {
  position: absolute;
  bottom: 40px;
  right: 30px;
  z-index: -10;
}
.benefit-menu {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.benefit-menu__arr {
  display: flex;
  justify-content: center;
  align-center: center;
  border: none;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  padding: 20px 23px;
  box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22);
}

.about {
  padding: 80px 0;
  background: #F8F8FF;
}
.about .wrapper {
  display: flex;
  justify-content: space-between;
}
.about-content {
  max-width: 570px;
}
.about-img {
  margin-top: 60px;
  height: 884px;
}
.about-title {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0 32px;
  font-size: 32px;
  line-height: 130%;
  color: #23283B;
}
.about-card {
  display: flex;
  margin-bottom: 24px;
}
.about-card__img {
  max-width: 24px;
  height: 24px;
  margin-right: 20px;
  margin-top: 4px;
}
.about-card-text {
  display: flex;
  flex-direction: column;
}
.about-card-text__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #23283B;
  margin-bottom: 12px;
}
.about-card-text__desc {
  font-size: 16px;
  line-height: 150%;
  color: #23283B;
}
.about-btn {
  display: flex;
  margin: 60px auto 0;
}

.levels {
  padding: 80px 0 90px;
  background: url("../img/levels-bg.png"), #3035C3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.levels-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #ffffff;
  line-height: 130%;
  text-align: center;
  max-width: 970px;
  margin: 0 auto 50px;
}
.levels-card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 24px 32px 0;
  min-height: 464px;
  margin: 0 15px;
  border-radius: 10px;
}
.levels-card__title {
  color: #E6514A;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  font-weight: 800;
  line-height: 130%;
}
.levels-card__subtitle {
  color: #3035C3;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 130%;
  margin-bottom: 28px;
}
.levels-card__secondtitle {
  color: #23283B;
  font-weight: 800;
  font-size: 16px;
  line-height: 130%;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 8px;
}
.levels-card__desc {
  font-size: 16px;
  line-height: 150%;
  color: #23283B;
  margin-bottom: 20px;
}
.levels-card__btn {
  color: #3035C3;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 16px;
  line-height: 130%;
  max-width: 44%;
}
.levels-menu {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}
.levels-menu__arr {
  display: flex;
  justify-content: center;
  align-center: center;
  border: none;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  padding: 20px 23px;
  box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22);
}
.levels-menu__desc {
  color: #ffffff;
  max-width: 970px;
  text-align: center;
}

.result {
  padding: 100px 0;
}
.result .container {
  position: relative;
}
.result-suptitle {
  justify-content: center;
}
.result-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 130%;
  font-family: "Montserrat", sans-serif;
  color: #23283B;
  text-align: center;
  margin: 20px auto 50px;
  max-width: 710px;
}
.result-img {
  position: absolute;
  top: 200px;
  left: -150px;
}
.result-map {
  display: flex;
  height: 400px;
  margin-bottom: 60px;
}
.result-map .card {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin-right: 25px;
  text-align: center;
  max-width: 200px;
  z-index: 10;
}
.result-map .card-img {
  margin: 0 auto 54px;
}
.result-map .card-desc {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #23283B;
}
.result-map .card::after {
  content: "";
  position: absolute;
  padding: 34px;
  z-index: -10;
  width: 120px;
  height: 120px;
  text-align: center;
  margin-left: -60px;
  top: -35px;
  left: 50%;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
}
.result-map .card:nth-child(1) {
  margin-top: 80px;
}
.result-map .card:nth-child(1)::after {
  top: 35px;
}
.result-map .card:nth-child(2) {
  margin-top: -90px;
}
.result-map .card:nth-child(2)::after {
  top: 107px;
}
.result-map .card:nth-child(3) {
  margin-top: 140px;
}
.result-map .card:nth-child(3)::after {
  top: -7px;
}
.result-map .card:nth-child(4) {
  margin-top: 0;
}
.result-map .card:nth-child(4)::after {
  top: 62px;
}
.result-map .card:nth-child(5) {
  margin-top: 10px;
}
.result-map .card:nth-child(5)::after {
  top: 45px;
}
.result-btn {
  display: flex;
  margin: 0 auto;
}

.cost {
  padding: 80px 0;
  background: #F8F8FF;
}
.cost-suptitle {
  justify-content: center;
}
.cost-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 130%;
  font-family: "Montserrat", sans-serif;
  color: #23283B;
  text-align: center;
  margin: 20px auto 50px;
  max-width: 710px;
}
.cost-subtitle {
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #23283B;
  line-height: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.cost-form {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.cost-form-card {
  margin: 0 8px;
  position: relative;
  border: 1px solid #8D909D;
  cursor: pointer;
  border-radius: 40px;
  transition: 0.3s ease;
}
.cost-form-card:hover {
  border: 1px solid #23283B;
}
.cost-form__label {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #23283B;
  width: 217px;
  padding: 18px 80px 18px 56px;
  cursor: pointer;
}
.cost-form__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 25px;
  width: 20px;
  height: 20px;
  border: 1px solid #B9BAC5;
  border-radius: 50%;
}
.cost-form__label::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 25px;
  width: 20px;
  height: 20px;
  background: #E6514A;
  border-radius: 50%;
  opacity: 0;
}
.cost-form__input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
}
.cost-form__input:checked + .cost-form__label::after {
  opacity: 1;
}
.cost-prices {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 60px;
}
.cost-prices__one {
  margin-bottom: 10px;
}
.cost-prices__number, .cost-prices__quantity {
  color: #3035C3;
}
.cost-btn {
  display: flex;
  margin: 0 auto;
}