$red: #E6514A
$blue: #3035C3
$dark: #23283B
$light: #DEDEFF
*, *::after, *::before
    outline: none
    box-sizing: border-box
ul, li
    padding: 0
body
    font-family: 'Montserrat', sans-serif
    font-family: 'Lato', sans-serif
    overflow-x: hidden
::-webkit-scrollbar 
    width: 12px
::-webkit-scrollbar-track
    background: $dark
::-webkit-scrollbar-thumb
    background: #ffffff
    border-radius: 20px
    &:hover
        background: $red
.page
    max-width: 1920px
    margin: 0 auto
.container
    max-width: 1200px
    margin: 0 auto
.suptitle
    display: flex
    font-size: 14px
    line-height: 17px
    color: $dark
    &::before
        content: ''
        display: inline-block
        align-self: center
        width: 40px
        height: 1px
        margin-right: 12px
        background: $red
.red-btn
    padding: 16px 58px
    font-family: 'Montserrat', sans-serif
    color: #ffffff
    border: none
    background: $red
    border-radius: 30px
    cursor: pointer
    font-weight: bold
    font-size: 16px
    line-height: 20px
.header
    position: relative
    background: $blue
    box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22)
    z-index: 999
    position: fixed
    top: 0
    left: 0
    width: 100%
    transition: 0.6s
    padding: 26px 0
    &-wrapper
        display: flex
        justify-content: space-between
        .phones
            display: flex
            &-number
                display: flex
                position: relative
                align-items: center
                margin-left: 50px
                flex-wrap: wrap
                max-width: 230px
                &__link
                    margin-left: 10px
                    color: #ffffff
                    text-decoration: none
                    font-family: 'Montserrat', sans-serif
                    font-weight: bold
                    font-size: 16px
                    line-height: 20px
                    letter-spacing: 1px
                    transition: 0.6s
                &:nth-child(2)
                    &::after
                        content: '(Только для сообщений)'
                        position: absolute
                        max-width: 100px
                        font-size: 9px
                        line-height: 11px
                        color: #ffffff
                        transition: 0.6s
                        bottom: 0
                        right: 20%
.sticky
    padding: 15px 100px
    background: #ffffff
    .phones
        &-number
            &__link
                color: $dark
            &:nth-child(2)
                &::after
                    content: '(Только для сообщений)'
                    position: absolute
                    max-width: 100px
                    font-size: 9px
                    line-height: 11px
                    color: $dark
                    bottom: 0
                    right: 20%
.main-screen
    background: $blue
    position: relative
    padding: 200px 0 172px
    margin-bottom: 60px
    .main
        max-width: 570px
        &-suptitle
            font-family: 'Montserrat', sans-serif
            font-weight: bold
            font-size: 16px
            color: $red
            line-height: 130%
        &-title
            font-family: 'Montserrat', sans-serif
            font-weight: 800
            margin: 16px 0 32px
            font-size: 48px
            line-height: 130%
            color: #ffffff
        &-desc
            font-size: 16px
            line-height: 150%
            color: #ffffff
            margin-bottom: 70px
        &-btn
            font-family: 'Montserrat', sans-serif
            font-weight: bold
            font-size: 16px
            line-height: 20px
            text-align: center
            color: #FFFFFF
            padding: 16px 63px
            background: $red
            border-radius: 30px
            border: none
    .main-img
        position: absolute
        top: 0
        right: 0
        max-width: 700px
        height: 900px
.receive
    padding: 80px 0
    .container
        position: relative
    &-bg
        position: absolute
        max-width: 100%
        top: 10%
        left: 0
        z-index: -10
    &-title
        font-family: 'Montserrat', sans-serif
        padding: 20px 0 40px
        font-weight: 800
        font-size: 48px
        line-height: 130%
        color: $dark
    &-map
        display: flex
        background-position: center
        height: 400px
        .card
            display: flex
            flex-direction: column
            margin-right: 25px
            &:nth-child(1)
                margin-top: 160px
            &:nth-child(2)
                margin-top: 200px
            &:nth-child(3)
                margin-top: 90px
            &:nth-child(4)
                margin-top: 80px
            &:nth-child(5)
                margin-top: 130px
            &:nth-child(6)
                margin-top: 0
            &-img
                max-width: 140px
                height: auto
                margin: 0 auto
            &-desc
                max-width: 170px
                font-size: 16px
                line-height: 150%
                text-align: center
                color: $dark
                &__bold
                    font-weight: 700
                    font-size: 16px
                    line-height: 150%
                    color: $dark
.benefit
    padding: 40px 0 80px
    &-suptitle
        justify-content: center
    &-title
        margin: 20px 0 50px
        font-family: 'Montserrat', sans-serif
        text-align: center
        font-weight: 800
        font-size: 40px
        line-height: 130%
        color: $dark
    .swiper-container
        height: 470px   
        width: 1240px
    &-card
        position: relative
        max-width: 370px
        min-height: 430px
        background: #FFFFFF
        box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12)
        border-radius: 10px
        margin: 0 15px
        padding: 32px 32px 0 32px
        z-index: 1
        &__title
            font-family: 'Montserrat', sans-serif
            font-weight: 800
            font-size: 20px
            margin-bottom: 24px
            color: $dark
            line-height: 130%
        &__desc
                font-size: 16px
                line-height: 150%
                color: $dark
        &__img
            position: absolute
            bottom: 40px
            right: 30px
            z-index: -10
    &-menu
        display: flex
        margin-top: 30px
        justify-content: space-between
        &__arr
            display: flex
            justify-content: center
            align-center: center
            border: none
            cursor: pointer
            background: #fff
            border-radius: 50%
            padding: 20px 23px
            box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22)
.about
    padding: 80px 0
    background: #F8F8FF
    .wrapper
        display: flex
        justify-content: space-between
    &-content
        max-width: 570px
    &-img
        margin-top: 60px
        height: 884px
    &-title
        font-weight: 800
        font-family: 'Montserrat', sans-serif
        margin: 20px 0 32px
        font-size: 32px
        line-height: 130%
        color: $dark
    &-card
        display: flex
        margin-bottom: 24px
        &__img
            max-width: 24px
            height: 24px
            margin-right: 20px
            margin-top: 4px
        &-text
            display: flex
            flex-direction: column
            &__title
                font-weight: 700
                font-size: 20px
                line-height: 150%
                color: $dark
                margin-bottom: 12px
            &__desc
                font-size: 16px
                line-height: 150%
                color: $dark
    &-btn
        display: flex
        margin: 60px auto 0
.levels
    padding: 80px 0 90px
    background: url('../img/levels-bg.png'), #3035C3
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    &-title
        font-family: 'Montserrat', sans-serif
        font-weight: 800
        font-size: 32px
        color: #ffffff
        line-height: 130%
        text-align: center
        max-width: 970px
        margin: 0 auto 50px
    &-card
        display: flex
        flex-direction: column
        background: #ffffff
        padding: 24px 32px 0
        min-height: 464px
        margin: 0 15px
        border-radius: 10px
        &__title
            color: $red
            font-family: 'Montserrat', sans-serif
            font-size: 52px
            font-weight: 800
            line-height: 130%
        &__subtitle
            color: $blue
            font-size: 20px
            font-family: 'Montserrat', sans-serif
            font-weight: 800
            line-height: 130%
            margin-bottom: 28px
        &__secondtitle
            color: $dark
            font-weight: 800
            font-size: 16px
            line-height: 130%
            font-family: 'Montserrat', sans-serif
            margin-bottom: 8px
        &__desc
            font-size: 16px
            line-height: 150%
            color: $dark
            margin-bottom: 20px
        &__btn
            color: $blue
            font-style: normal
            font-family: 'Montserrat', sans-serif
            font-weight: 800
            text-decoration: none
            font-size: 16px
            line-height: 130%
            max-width: 44%
    &-menu
        display: flex
        margin-top: 50px
        justify-content: space-between
        align-items: center
        &__arr
            display: flex
            justify-content: center
            align-center: center
            border: none
            cursor: pointer
            background: #fff
            border-radius: 50%
            padding: 20px 23px
            box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22)
        &__desc
            color: #ffffff
            max-width: 970px
            text-align: center
.result
    padding: 100px 0
    .container
        position: relative
    &-suptitle
        justify-content: center
    &-title
        font-weight: 800
        font-size: 40px
        line-height: 130%
        font-family: 'Montserrat', sans-serif
        color: $dark
        text-align: center
        margin: 20px auto 50px
        max-width: 710px
    &-img
        position: absolute
        top: 200px
        left: -150px
    &-map
        display: flex
        height: 400px
        margin-bottom: 60px
        .card
            display: flex
            position: relative
            justify-content: center
            flex-direction: column
            margin-right: 25px
            text-align: center
            max-width: 200px
            z-index: 10
            &-img
                margin: 0 auto 54px
            &-desc
                font-size: 16px
                line-height: 150%
                text-align: center
                color: $dark
            &::after
                content: ''
                position: absolute
                padding: 34px 
                z-index: -10
                width: 120px
                height: 120px
                text-align: center
                margin-left: -60px
                top: -35px
                left: 50%
                background: #fff
                border-radius: 50%
                box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12)
            &:nth-child(1)
                margin-top: 80px
                &::after
                    top: 35px
            &:nth-child(2)
                margin-top: -90px
                &::after
                    top: 107px
            &:nth-child(3)
                margin-top: 140px
                &::after
                    top: -7px
            &:nth-child(4)
                margin-top: 0
                &::after
                    top: 62px
            &:nth-child(5)
                margin-top: 10px
                &::after
                    top: 45px
    &-btn
        display: flex
        margin: 0 auto
.cost
    padding: 80px 0
    background: #F8F8FF
    &-suptitle
        justify-content: center
    &-title
        font-weight: 800
        font-size: 40px
        line-height: 130%
        font-family: 'Montserrat', sans-serif
        color: $dark
        text-align: center
        margin: 20px auto 50px
        max-width: 710px
    &-subtitle
        font-weight: bold
        font-size: 16px
        font-family: 'Montserrat', sans-serif
        color: $dark
        line-height: 20px
        margin-bottom: 30px
        text-align: center
    &-form
        display: flex
        justify-content: center
        margin-bottom: 60px
        &-card
            margin: 0 8px
            position: relative
            border: 1px solid #8D909D
            cursor: pointer
            border-radius: 40px
            transition: 0.3s ease
            &:hover
                border: 1px solid $dark
        &__label
            display: inline-block
            font-size: 14px
            line-height: 17px
            color: $dark
            width: 217px
            padding: 18px 80px 18px 56px
            cursor: pointer
            &::before
                content: ''
                display: block
                position: absolute
                top: 50%
                margin-top: -10px
                left: 25px
                width: 20px
                height: 20px
                border: 1px solid #B9BAC5
                border-radius: 50%
            &::after
                content: ''
                display: block
                position: absolute
                top: 50%
                margin-top: -10px
                left: 25px
                width: 20px
                height: 20px
                background: $red
                border-radius: 50%
                opacity: 0
        &__input
            -webkit-appearance: none
            appearance: none
            position: absolute
            &:checked + .cost-form__label::after
                opacity: 1
    &-prices
        display: flex
        flex-direction: column
        text-align: center
        font-weight: 800
        font-family: 'Montserrat', sans-serif
        font-size: 24px
        line-height: 130%
        margin-bottom: 60px
        &__one
            margin-bottom: 10px
        &__number, &__quantity
            color: $blue
    &-btn
        display: flex
        margin: 0 auto
.reviews
    padding: 100px 0 50px
    &-suptitle
        justify-content: center
    &-title
        font-weight: 800
        font-size: 40px
        line-height: 130%
        font-family: 'Montserrat', sans-serif
        color: $dark
        text-align: center
        margin: 20px auto 60px
        max-width: 730px
    &-card
        display: flex
        flex-direction: column
        max-width: 350px
        text-align: center
        margin: 0 15px
        &__img
            max-width: 120px
            margin: 0 auto
        &__title
            margin: 24px 0
            font-weight: 800
            font-size: 20px
            line-height: 130%
            font-family: 'Montserrat', sans-serif
            color: $dark
        &__desc
            font-size: 16px
            color: $dark
            line-height: 150%
    &-pagination
        display: flex
        align-items: center
        justify-content: center
        margin-top: 80px
    &-bullet
        display: inline-block
        width: 18px
        height: 18px
        border: 2px solid #DEDEFF
        border-radius: 100px
        margin: 0 8px
        cursor: pointer
        &-active
            background: #3035C4
            border: 2px solid #3035C4
    &-btn
        display: flex
        margin: 60px auto 0
.tutor
    padding: 50px 0
    &-wrapper
        background-image: url('../img/tutor-bg.png')
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        border-radius: 20px
        padding: 60px 0 60px 70px
        color: #ffffff
    &-suptitle
        color: #ffffff
    &-title
        font-weight: 800
        font-size: 40px
        font-family: 'Montserrat', sans-serif
        line-height: 130%
        max-width: 800px
        margin: 20px 0 32px
    &-ol
        list-style: none
        counter-reset: num
        padding: 0
    &-li
        margin-bottom: 13px
        font-size: 16px
        line-height: 150%
        &::before
            content: counter(num) '. '
            counter-increment: num
            color: $red
            font-weight: 800
            font-family: 'Montserrat', sans-serif
            font-size: 24px
            line-height: 150%